.card .image {
    position: relative;
    width: 100%;
    height: 25rem; /* Altura fixa para todas as imagens */
    overflow: hidden;
}
.card .image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.card .date {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.card .info {
    padding: 15px;
}
.autor {
    font-size: 14px;
    color: #001ba4;
}  
.botao-container {
    display: flex;
    justify-content: space-between; /* Distribui igualmente os botões */
    }