

<form class="row g-3 needs-validation"  action="/cadastrolivro" method="post" enctype="multipart/form-data">

    <div class="col-md-4">
      <label for="livroNome" class="form-label">Nome do livro:</label>
      <input type="text" class="form-control" id="livroNome"  name="titulo">
      </div>
    
    <div class="col-md-4">
      <label for="autorNome" class="form-label">Nome do autor</label>
      <input type="text" class="form-control" id="autorNome" name="autor" required>
    </div>

    <div class="col-md-4">
      <label for="preco" class="form-label">preco</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">R$</span>
        <input type="text" class="form-control" id="preco" name="preco" required>
      </div>
    </div>

    <div class="col-md-6">
      <label for="Descricao" class="form-label">Descricao</label>
      <TEXtarea class="form-control" id="Descricao" name="descricao" required maxlength="500"></TEXtarea>
    </div>


    <div class="col-md-3">
      <label for="categoria" class="form-label">categoria</label>
      <select class="form-select" id="categoria" data-live-search="true" name="categorias" required>
        <option value="" selected>Selecione a categoria</option>
            <% categorias.forEach(categoria =>{%>
            <option value="<%= categoria._id %>"><%= categoria.nome %></option>
            <%});%>        
      </select>
    </div>

    <div class="col-md-3">
      <label for="categoria" class="form-label">Capa</label>
      <input type="file" class="form-control" id="capa" name="capa" required>
    </div>

    <div class="col-12">

      <button class="btn btn-primary" type="submit">Adicionar Livro</button>
    
    </div>    
  </form>